.page {
    padding: 20px;
}

.search-criteria {
    display: flex;
    background-color: gainsboro;
    padding: 5px 15px;
    border-bottom: 2px solid black;
}

.search-results {
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}

.outlined-floating-label-input {
    position: relative;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    width: 88%;
}

.outlined-floating-label-input input {
    width: 100%;
    padding: 18px 0px 5px 10px;
    font-size: 16px;
    border: 1px solid #757575;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.outlined-floating-label-input label {
    position: absolute;
    left: 12px;
    top: 13px;
    font-size: 16px;
    color: #757575;
    background-color: white;
    padding: 0 4px;
    pointer-events: none;
    transition: 0.2s ease all;
}

.outlined-floating-label-input input:focus ~ label,
.outlined-floating-label-input input:valid ~ label {
    top: 5px;
    left: 5px;
    font-size: 11px;
    color: #5264AE;
}

.location-box {
    width: 25%;
}

.radius-box {
    width: 13%;
    min-width: 150px; 
}

.search-button {
    height: fit-content;
    margin: 27px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 8px;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 3px;
}

.search-button:hover {
    background-color: white;
    color: black;
}

.search-icon {
    margin-right: 5px;
}

.loading {
    margin-top: 50px;
}

.restaurant-search {
    width: 66%;
    border: 2px solid black;
    border-radius: 5px;
    min-height: 30vh;
}